# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[polypyus/*]
end_of_line = lf
insert_final_newline = true

[polypyus/**/*.py]
charset = utf-8
indent_style = space
indent_size = 4

[*.y{a,}ml]
charset = utf-8
indent_style = space
indent_size = 2

